
%flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-change {
    display: flex;
    align-items: center;
}

%title {
    font-size: 64px;
    font-weight: 700;
    color: #fff
}

%subtitles {
    font-size: 17px;
    color: #FFFFFFB2;
    opacity: .7;
}

%btn__global {
    padding: 12px 20px;
    background-color: #118DA8;
    border-radius: 6px;
    color: #fff;
    font-size: 17px;
}

.email {
    padding: 100px 70px;
    @extend %flex-center;
    width: 100%;
}

.email__card {
    max-width: 1300px;
    padding: 70px;
    background: #000;
    width: 100%;
    border-radius: 32px;
    @extend %flex-change;
    align-items: flex-start;
    justify-content: space-between;
}

.email__text {
    @extend %flex-column;
    align-items: flex-start;
}

.email___desc {
    font-size: 17px;
    color: #118DA8;
}

.email__title {
    @extend %title;
    max-width: 350px;
}

.email__forms {
    @extend %flex-column;
    align-items: flex-start;
    gap: 20px;
}

.email__forms-input {
    padding: 26px 17px;
    background-color: #191919;
    width: 522px;
    border: none;
    border-radius: 6px
}

.email__forms-btn {
    @extend %btn__global;
}

::placeholder {
    color: rgba(250, 250, 250, 0.7);
    font-size: 24px;
}